@media all {
  :local(.wrapper) {
    background-color: rgba(255,230,200,1);
    height: 56%;
    width: 100%;
  }
}

@media screen and (max-device-width: 667px) {

}

@media screen and (max-device-aspect-ration: 1/1) {
}
